<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task_Portal</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Task_Portal.styles.css" asp-append-version="true" />
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- MDB -->
    <link href="~/MDBootstrap/mdb.min.css" rel="stylesheet" />
    <!-- Toastr -->
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/BootsWatchStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Sidebar.css" />
    @*<link rel="stylesheet" href="~/css/SidebarRight.css" />*@
     <link rel="stylesheet" href="~/css/Toastr.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <partial name="_SideBarPartial" />
        @*<partial name="_SideBarRighrPartial" />*@
        <div class="container">
            <main role="main" class="pb-3">
                <partial name="_NotificationManagerPartial" />
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Task_Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <!-- MDB -->
    <script type="text/javascript" src="~/MDBootstrap/mdb.min.js"></script>
    <!-- Popper.JS -->
    <script src="~/lib/ajax/dist/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/SideBar.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
