@if (TempData["UserData"] != null)
{
    var _model = (UserRegistrationViewModel)TempData["UserData"];
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Task Portal</span>
            </button>
        </div>
        <div class="p-4 ml-3">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(File.ReadAllBytes(_model.ProfilePicturePath))" class="rounded-circle" style="width: 180px;" alt="Avatar"/>
            <h1>@_model.FirstName @_model.LastName</h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><span class="fa fa-home mr-3"></span> Dashboard</a>
                    <span class="visually-hidden">(current)</span>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user mr-3"></span> Profile</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-briefcase mr-3"></span> Tasks</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sticky-note mr-3"></span> Suggestions</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-suitcase mr-3"></span> Gallery</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-cogs mr-3"></span> Setting</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Logout"><span class="fa fa-sign-out mr-3"> <i class=""></i></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
}