
@{
    Layout = null;
}
@model LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist4.0/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Toastr.css">
    <link rel="stylesheet" href="~/css/BootsWatchStyle.css" asp-append-version="true" />


</head>
<body>
    <partial name="_RegistrationModelPartial"/>
    <partial name="_NotificationManagerPartial"/>
    <section class="vh-80">
        <div class="container-fluid h-custom m-lg-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post" asp-controller="Login" asp-action="Login">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" asp-for="Email"></label>
                            <input type="email" asp-for="Email" class="form-control form-control-lg" placeholder="Enter Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" asp-for="LoginPassword"></label>
                            <input type="password" asp-for="LoginPassword" class="form-control form-control-lg" placeholder="Enter password" />
                            <span asp-validation-for="LoginPassword" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-outline-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;"> Login </button>
                            <!-- Register Account -->
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account?
                                <button type="button" class="badge rounded-pill bg-light" data-toggle="modal" data-target="#addUser">Register</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist4.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
